@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
.container {
  display: flex;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content {
  padding: 2rem;
  
}
.content h1 {
  font-weight: 700;
  color: #fff;
  font-family: 'Big Shoulders Display', cursive;
  padding-top: 2rem;
}
.content p {
  color: #fff;
  width: 200px;
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 1rem;
  line-height: 1.5rem;
}
.first {
  border-top-left-radius: 0.5rem;
  width: 300px;
  background-color: #E28525;
  border-bottom-left-radius: 0.5rem;
}
.second {
  width: 300px;
  background-color: #016972;
}
.third {
  width: 300px;
  background-color: #00403F;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.btn-learn {
  margin-top: 5rem;
  padding: 0.9rem 2rem;
  border-radius: 1.5rem;
  border: none;
  font-family: 'Lexend Deca', sans-serif;
}
.btn-1 {
  color: #E28525;
}
.btn-2 {
  color: #016972;
}
.btn-3 {
  color: #00403F;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  
}
footer h1 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}
footer a{
  text-decoration: none;
}


@media screen  and (max-width: 768px){
  
  .container {
    width: 100%;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    transform: translate(0);
    margin: 1rem 0;
  }
 .frs {
   width: 90%;
 }
  .content {
    padding: 1.5rem 3rem;
  }
  .content img {
    margin-top: 0;
  }
  .content h1 {
   padding-top: 1.5rem;
  }
  .content p {
    padding-top: 1.5rem;
    width: 250px;
  }
  .first {
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0 ;
  }
  .third {
    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
   .btn-learn {
    margin: 2rem 0 1rem 0;
  } 
  
  footer {
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  footer h1 {
    font-size: 0.8rem;
  }
}